.ant-layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .ant-layout-header {
        flex-shrink: 1;
        width: 100%;
    }

    .ant-layout-content {
        flex-grow: 1;
    }

    .ant-layout-footer {
        flex-shrink: 1;
    }
}